<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <section id="A">
        <div class="section-title">A</div>
        <hr>
        <ul>
            <li>aardvark</li>
            <li>arrow</li>
            <li>avocado</li>
        </ul>
    </section>
    <section id="B">
        <div class="section-title">B</div>
        <hr>
        <ul>
            <li>baseball</li>
            <li>boxer</li>
            <li>brownies</li>
        </ul>
    </section>
    <section id="C">
        <div class="section-title">C</div>
        <hr>
        <ul>
            <li>cat</li>
            <li>chicken</li>
            <li>cousin</li>
        </ul>
    </section>
    <section id="D">
        <div class="section-title">D</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section>
    <section id="E">
        <div class="section-title">E</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section>
    <section id="F">
        <div class="section-title">F</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section>
    <section id="G">
        <div class="section-title">G</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section>
    <section id="H">
        <div class="section-title">H</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section>
    <section id="I">
        <div class="section-title">I</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section>
    <section id="J">
        <div class="section-title">J</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section>
    <section id="K">
        <div class="section-title">K</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section><section id="L">
        <div class="section-title">L</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section>
    <section id="M">
        <div class="section-title">M</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section>
    <section id="N">
        <div class="section-title">N</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section>
    <section id="O">
        <div class="section-title">O</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section><section id="P">
        <div class="section-title">P</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section><section id="Q">
        <div class="section-title">Q</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section><section id="R">
        <div class="section-title">R</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section><section id="S">
        <div class="section-title">S</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section><section id="T">
        <div class="section-title">T</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section><section id="U">
        <div class="section-title">U</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section><section id="V">
        <div class="section-title">V</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section><section id="W">
        <div class="section-title">W</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section><section id="X">
        <div class="section-title">X</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section><section id="Y">
        <div class="section-title">Y</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section><section id="Z">
        <div class="section-title">Z</div>
        <hr>
        <ul>
            <li>dog</li>
            <li>donut</li>
            <li>dual</li>
        </ul>
    </section>
</body>
</html>